<div class="sidebar">
    <a routerLink="/debbard">
        <div class="debbard">
            <span>
                <p>💹</p>
            </span>
            <p>Debbard Candidate</p>
        </div>
    </a>
    <div class="vacancy">
        <span>
            <p>💼</p>
        </span>
        <p>Vacancy Management</p>
    </div>
    <div class="dossier">
        <span>
            <p>📄</p>
        </span>
        <p>Dossier Tracking system</p>
    </div>
    <a (click)="blankField()" routerLink="/debbard/candidate">
        <div class="debbard">
            <span>
                <p>➕</p>
            </span>
            <p>Add Debbard Candidate</p>
        </div>
    </a>
</div>