/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

button{
    cursor: pointer;
}

h5{
    color: blue;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    margin-top: .5rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
