.container{
    display: flex;
}

.sidebar-common{
    display: flex;
    width: 8%;
}

.outlet{
    width: 92%;
    background-color: rgb(248, 234, 230);
}

app-sidebar{
    border: 1px solid green;
    background-color: rgb(164, 60, 67);
    /* height: 90vh; */
}

app-login{
    height: 90vh;
}