<div class="container">
    <div class="heading">
        <h1>Please Register here </h1>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="registerFormData()">
        <input type="name" placeholder="Enter your Name" formControlName="name" >
        <h5 style="color: red; margin: 0;" *ngIf="name && name.invalid && name.touched">Please enter your Name</h5>
        <input type="email" placeholder="Enter your Email" formControlName="email">
        <h5 style="color: red; margin: 0;" *ngIf="email && email.invalid && email.touched">Please enter the correct Mail ID</h5>
        <input type="password" placeholder="Enter your Password" formControlName="password">
        <h5 style="color: red; margin: 0;" *ngIf="password && password.invalid && password.touched">Must enter a valid password</h5>
        <button [disabled]="registerForm.invalid">Register</button>
        <h5 routerLink="/user/login">Already have Account? Click here to Login</h5>
    </form>
</div>