*{
    background-color: rgb(248, 234, 230);
    display: flex;
    flex-direction: column;
}


.container{
    display: flex;
    margin: auto;
    height: 100vh;
}

.heading{
    margin-top: 5rem;
    display: flex;
}

.container form{
    width: 30%;
    margin: auto;
    margin-top: 0;
    text-align: center;
}

.container form input{
    margin-top: 1rem;
    padding: .6rem;
    border-radius: 2rem;
    text-align: center;
    outline: none;
    font-size: large;
    border: .1px solid lightgray;
    display: flex;
    background-color: white;
}

.container form button{
    width: 80%;
    padding: .6rem;
    background-color:rgb(164, 60, 67);
    border: none;
    outline: none;
    border-radius: 3rem;
    color: white;
    font-size: medium;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
}

.heading h1{
    margin: auto;
    margin-bottom: 1rem;
}


.container form button:disabled{
    background-color: gray;
}
